*.swp
*.dump
*.backup
*.save
cross-toolchain
password-encryption
Yocto-lab/downloads/
Yocto-lab/sstate-cache/
Yocto-lab/meta-openembedded/
Yocto-lab/meta-python2/
Yocto-lab/meta-raspberrypi/
Yocto-lab/openembedded-core/
Yocto-lab/poky/
Yocto-lab/build*/bitbake-cookerdaemon.log
Yocto-lab/build*/cache/
Yocto-lab/build*/linux/
Yocto-lab/build*/tmp/
Yocto-lab/build*/visualize_dependencies_graph.md
Yocto-lab/build*/task-depends.*
Yocto-lab/build*/pn-buildlist

